*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-left: 60px;
}

.logo img{
  width: 180px;
}

.bg-nav {

  display: flex;
  width: 100vw;
  
  background-color: #04013e;
  background-image: -webkit-linear-gradient(left, #04013e 0%, #01759d 100%); 
  background-image: linear-gradient(to right, #04013e 0%, #01759d 100%);  
}

.box-nav {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.menu-nav {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.menu-nav li {
  color: white;
  font-size: 24px;
}

.box-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  width: 100%;
  padding: 8px 0;
  font-family: 'Montserrat', sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 32px 0;
  gap: 10px;
}

.search-input {
  border-radius: 20px;
  border-style: none;
  padding: 0 16px;
}

.primary-button {
  background: #01759d;
	color: white;
	border-style: none;
  height: 36px;
	width: 100px;
	text-shadow: none;
  border-radius: 20px;
	box-shadow: 5px 5px 5px gray;
}

.primary-button:hover {
  background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

body{
  background-image: url(/assets/bkg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  border: 1px solid #49422b;
}

.card img {
  width: 100%;
}

.card-content {
  flex-grow: 1;
  border-top: 1px solid #49422b;
  text-align: center;
  background-color: #04013eba;
}

.result-container {
  display: flex;
  margin: 32px;
  flex-wrap: wrap;
  gap: 16px;
}

.main-container {
  min-height: 80vh;
}

.footer {
  width: 100vw;
  height: 80px;
  background-color: #04013e;
  background-image: -webkit-linear-gradient(left, #04013e 0%, #01759d 100%); 
  background-image: linear-gradient(to right, #04013e 0%, #01759d 100%);  
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 22px;
  padding: 6px 0;
  position: sticky;
  bottom: 0;
}

.labenu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coracao {
  width: 24px;
  margin-left: 10px;
}