*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: url(/smite-landing-page/assets/images/cursor-pointer.png), pointer;
}

.logo img{
  width: 180px;
}

.bg-nav {
  width: 100vw;
  background-color: #04013e;
  background-image: -webkit-linear-gradient(left, #04013e 0%, #01759d 100%); 
  background-image: linear-gradient(to right, #04013e 0%, #01759d 100%);  
}

.box-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 32px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.menu-nav {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.menu-nav li {
  color: white;
  font-size: 18px;
  
}

.menu-nav li::before{
  content: ' / ';
  margin: 0 10px;
  color: rgba(255, 255, 255,0.5);
}

.menu-nav li:first-child::before{
  display: none;
} 

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 32px auto;
  gap: 10px;
}

.search-input {
  height: 42px;
  border-radius: 20px;
  border-style: none;
  padding: 0 16px;
  width: 100%;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #01759d;
	color: white;
	border-style: none;
  height: 42px;
	width: 80px;
	text-shadow: none;
  border-radius: 20px;
	position: absolute;
  right: 0px;
  top: 0;
}

.primary-button:hover {
  background: #016ABC;
	border: 1px solid #eee;
  cursor: url(/smite-landing-page/assets/images/cursor-pointer.png), pointer;
}

body{
  background-image: url(/smite-landing-page/assets/bkg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  cursor: url(/smite-landing-page/assets/images/cursor.png), auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  border: 1px solid #49422b;
}

.card h3{
  font-family: 'Montserrat', sans-serif;
}

.card img {
  width: 100%;
}

.card-content {
  flex-grow: 1;
  border-top: 1px solid #49422b;
  text-align: center;
  background-color: #04013eba;
}

.result-container {
  display: flex;
  margin: 32px auto;
  max-width: 1400px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.main-container {
  min-height: 80vh;
}

.footer {
  width: 100vw;
  height: 80px;
  background-color: #04013e;
  background-image: -webkit-linear-gradient(left, #04013e 0%, #01759d 100%); 
  background-image: linear-gradient(to right, #04013e 0%, #01759d 100%);  
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 22px;
  padding: 6px 0;
  position: sticky;
  bottom: 0;
}

.labenu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coracao {
  width: 24px;
  margin-left: 10px;
}

.menu-nav a{
  color: #fff;
  text-decoration: none;
}

.primary-button img {
  
  width: 28px;
  height: 28px;
}

@media (max-width: 800px) {
  .box-nav {
    flex-direction: column;
  }
  .menu-nav {
    flex-direction: column;
    align-items: center;
  }
  
.menu-nav li::before{
  display: none;
}

}

