/* .carousel-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 120px auto 0; 
   width: 1000px;
   flex-wrap: wrap;
   
} */

/* .carousel {
    width: calc(50% - 40px);
    background-color: red;
    height: 400px;
    margin: 20px;
} */
/* 
.teste {
    width: 100%;
} */